body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #f0f0f0); /* Adjust the colors as needed */
    margin: 0;
    padding: 0;
}


/* Reset default margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-icons img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.category-icons img:hover {
    transform: scale(1.2);
}

/* Additional styles for the icons container */
#icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Styles for the dynamically populated icons (customize as needed) */
#icons img {
    width: 80px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#icons img:hover {
    transform: scale(1.1);
}
